{% CaptureInt imageIndex %}{% Random 0, data.Local.Gallery.size %}{% endCaptureInt %}
<div class="jumbo" style="background-image: url({% if data.Local.Gallery.size == 0 %}'/content/themes/public/dos/img/cover-example-2.jpg'{% else %}'{% Url Content, Images, name: data.Local.Gallery[imageIndex].Name, w: 1500, h: 750, quality: 100 %}'{% endif %})">
  <div class="jumbo__texts">
    
    <h1 class="text-mega jumbo__title">{% T data.Setting_HomePage_BannerText || {{ data.Business.Name }} %}</h1>
    <h2 class="h3 jumbo__subtitle">{% T data.Setting_HomePage_BannerSmallText %}</h2>
	{% if data.Setting_Members_CanSignup %}
    <a href="{% Url Signup, Index %}" class="btn btn--primary btn--lg">{% T Become a member %}</a>
	{% endif %}
    {% if data.Setting_PublicWebSite_Contact %}
    <a href="{% Url About, Index %}" class="btn btn--primary btn--lg">{% T Visit us %}</a>
    {% endif %}
  </div>
</div>