<html>
<head>
    <title>Statement. {{ data.Coworker.FullName }} / {{ data.Coworker.BillingName }}</title>

    <link href="/Content/themes/admin/css/Invoice.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="block-content">
        <div class="float-right" style="margin-top:-43px">
            <button type="button"><img src="/Content/themes/admin/images/icons/fugue/printer.png" width="16" height="16"> Print</button>
        </div>

        <div id="invoice" class="pagestyle">
            <div id="invoice-header">
                {% if data.Business.HasLogo %}
                <img class="logo" src="{% Url Business, GetLogo, h: 100 %}">
                {% else %}
                <div class="title" class="logo" style="font-size: 4em; color: Black; font-family: Open Sans, sans-serif;">{{ data.Business.Name }}</div>
                {% endif %}
                <div class="vcard" id="company-address">
                    <div class="fn org">
                        <strong>{{ data.Setting_Billing_BillToName }}</strong>
                    </div>
                    <div class="adr">
                        <div class="street-address">
                            {{ data.Local.TaxIDCode }}
                        </div>
                        <div class="street-address">
                            {{ data.Local.BillToAddress | Replace: 'Not Available', '' | NewlineToBr }}
                        </div>
                        <div class="locality">
                            {{ data.Local.BillToCity | Replace: 'Not Available', '' }}
                        </div>
                        <div id="company-postcode">
                            <span class="postal-code">{{ data.Local.BillToPostCode | Replace: 'Not Available', '' }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="invoice-info" style="width: 400px">
                <h2>
                    <strong>{% T Statement %}</strong>
                </h2>
                <p>{{ data.Now | Date: 'D' }}</p>
                <br />
                <p id="invoice-total">
                </p>

            </div>
            <hr style="clear: both" />
            <h3>{% T Billing Details %}</h3>
            <div class="vcard" id="client-details">
                <div class="org">
                    {{ data.Coworker.FullNameForInvoice | Replace: 'Not Available', '' }}
                </div>
                <div class="adr">
                    <div class="street-address">
                        {{ data.Coworker.TaxIDNumber | Replace: 'Not Available', '' }}
                    </div>
                    <div class="street-address">
                        {{ data.Coworker.AddressForInvoice | Replace: 'Not Available', '' | NewLineToBr }}
                    </div>
                    <div class="locality">
                        {{ data.Coworker.CityForInvoice | Replace: 'Not Available', '' }}
                    </div>
                    <div id="client-postcode">
                        <span class="postal-code">{{ data.Coworker.PostCodeForInvoice | Replace: 'Not Available', '' }}</span>
                    </div>
                </div>
            </div>
            <hr style="clear: both" />
            {% if data.Local.UnPaidInvoices.size > 0 %}
            <h3>{% T Unpaid Invoices %}</h3>
            <table id="invoice-amount">
                <thead>
                    <tr id="header_row">
                        <th class="">
                            {% T Date %}
                        </th>
                        <th class="">
                            {% T Invoice Number %}
                        </th>
                        <th class="subtotal_th">
                            {% T Amount %}
                        </th>
                        <th class="subtotal_th">
                            {% T Due Amount %}
                        </th>
                        <th class="subtotal_th">
                            {% T Due Date %}
                        </th>
                    </tr>
                </thead>
                <tfoot>

                    <tr id="total_tr">
                        <td colspan="2">
                            &nbsp;
                        </td>
                        <td colspan="1" class="total" id="Td1">
                            {% T Current Balance %}
                        </td>
                        <td class="total" id="Td2">
                            {{ data.Local.CurrentBalance | FormatDecimal: 'N' }}
                            {{ data.Business.Currency.Code }}
                        </td>
                        <td>&nbsp;</td>
                    </tr>

                </tfoot>
                <tbody id="invoice_items">
                    {% for invoice in data.Local.UnPaidInvoices %}
                    <tr data-model="invoice_item" class="item odd" id="invoice_item_{{ invoice.Id }}">
                        <td class="item_l quantity_td">
                            {{ invoice.CreatedOn | FormatDate: 'd' }}
                        </td>
                        <td class="item_l description_td">
                            {{ invoice.InvoiceNumber }}
                        </td>
                        <td class="item_r subtotal_td">
                            {{ invoice.TotalAmount | FormatDecimal: 'N' }}
                            {{ invoice.Currency.Code }}
                        </td>
                        <td class="item_r subtotal_td">
                            {{ invoice.TransactionTotalAmount | FormatDecimal: 'N' }}
                            {{ invoice.Currency.Code }}
                        </td>
                        <td class="item_r subtotal_td">
                            {{ invoice.DueDate | FormatDate: 'd' }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr style="clear: both" />
            {% endif %}
            <h3>{% T Statement %}</h3>
            <table id="invoice-amount">
                <thead>
                    <tr id="header_row">
                        <th class="">
                            {% T Date %}
                        </th>
                        <th class="">
                            {% T Reference %}
                        </th>
                        <th class="">
                            {% T Type %}
                        </th>

                        <th class="subtotal_th">
                            {% T Amount %}
                        </th>
                        <th class="subtotal_th">
                            {% T Balance %}
                        </th>
                    </tr>
                </thead>
                <tfoot>

                    <tr id="total_tr">
                        <td colspan="3">
                            &nbsp;
                        </td>
                        <td colspan="1" class="total" id="Td1">
                            {% T Current Balance %}
                        </td>
                        <td class="total" id="Td2">
                            {{ data.Local.CurrentBalance | FormatDecimal: 'N' }}
                            {{ data.Business.Currency.Code }}
                        </td>
                    </tr>

                </tfoot>
                <tbody id="invoice_items">
                    {% for line in data.Local.Ledger %}
                    <tr data-model="invoice_item" class="item odd" id="invoice_item_{{ line.Id }}">
                        <td class="item_l quantity_td">
                            {{ line.PaymentDate | FormatDate: 'd' }}
                        </td>
                        <td class="item_l description_td">
                            {{ line.Code }}
                        </td>
                        <td class="">
                            {% if line.Debit > 0 %}
                            Invoice
                            {% elseif line.Debit < 0 %}
                            Credit Note
                            {% elseif line.Credit > 0 %}
                            Payment ({{ line.PaymentGatewayName }})
                            {% else %}
                            Refund
                            {% endif %}

                        </td>

                        <td class="item_r subtotal_td">
                            {% if line.Debit != 0 %}
                            {{ line.Debit | FormatDecimal: 'N' }}
                            {{ data.Business.Currency.Code }}
                            {% else %}
                            {{ line.Credit | FormatDecimal: 'N' }}
                            {{ data.Business.Currency.Code }}
                            {% endif %}
                        </td>

                        <td class="item_r subtotal_td">
                            {{ line.Balance | FormatDecimal: 'N' }}
                            {{ data.Business.Currency.Code }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</body>
</html>
