{% extends signup.master %}
{% block title %}{% T Join us %} | {{ data.Business.Name }}{% endblock %}
{% block main %}
<div class="container">
    <!-- CREDENTIALS -->
    <div class="credentials credentials--step">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- LOGO OR SPACE NAME -->
                <a class="navbar-brand" href="{{ data.Business.HomeUrl }}">
                    {% if data.Business.HasLogo %}
                    <img src="{% Url Business, GetLogo, w:600, h:150, mode: 'max' %}" alt="{{ data.Business.Name }}">
                    {% else %}
                    <img src="http://placehold.it/600x150/FFFFFF?text={{ data.Business.Name }}" alt="{{ data.Business.Name }}">
                    {% endif %}
                </a>
                <!-- END LOGO OR SPACE NAME -->
                <!-- CREDENTIALS HEADER -->
                <header class="credentials__header">
                    <h1 class="h2">{% T Thank you! %}</h1>
                </header>

                <div class="notifications-placeholder" style="display: none"></div>

                <!-- END CREDENTIALS HEADER -->
                <div class="credentials__confirm">
                    <i class="fa fa-paper-plane"></i>

                    <p class="credentials__confirm__sent">
                        {% T We will get back to you right away. %}
                        <br>
                        <b class="credentials__confirm__email">{{ data.Coworker.Email }}</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END CREDENTIALS -->
</div>
{% endblock %}

{% block scripts %}
{% endblock %}